.school-info{
	background: #FFFFFF;
}

.school-info-header{
	height: 40px;
}
.header-title{
	padding-top: 12px;
	padding-left: 12px;
	font-size: 14px;
	color: #ACACB4;
}
.header-queryall{
	float: right;
	margin-top: -21px;
	font-size: 10px;
	color: #C7C7CC;
	margin-right: 10px;
}
.button-nav-div{
	padding-bottom: 0px;
}
.button-nav-div-font{
	font-size: 10px;
	padding-top:0px ;
	margin-top: -12px;
}
