.box {
		width: 100%;
		height: 40px;
		border: 1px solid #FFF;
		display: table;
		margin-right: 5px;
	}

	.wrap {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		padding: 6px 0px;
		line-height: 26px;
		word-wrap: break-word;
		word-break: break-all;
	}

	.mui-input-row .div-leftauto {
		width: 110px;
		display: inline-block;
		vertical-align: middle;
		margin-left: 5px;
		/*padding-top: 8px;vertical-align:top;*/
	}

	.mui-input-row.multi-line {
		height: auto;
	}

	body {
		font-size: 15px;
	}
